Checks:
    bugprone-*
        -bugprone-easily-swappable-parameters
    cppcoreguidelines-*
        -cppcoreguidelines-avoid-magic-numbers
        -cppcoreguidelines-pro-bounds-constant-array-index
        -cppcoreguidelines-non-private-member-variables-in-classes
    hicpp-
    misc-*
        -misc-non-private-member-variables-in-classes
    modernize-*
        -modernize-use-trailing-return-type
    performance-*
    portability-*
    readability-*
        -readability-magic-numbers
        -readability-identifier-length
